<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Listado de Pacientes</title>
		<style>
		    table {
		        border-collapse: collapse;
		        width: 70%;
		        margin: auto;
		    }
		    th, td {
		        border: 1px solid black;
		        padding: 8px 12px;
				text-align: center;
		    }
		    th {
		        background-color: #fff3bf;
		    }
		</style>
	</head>
	<body>
		<h1 style="text-align: center;">Listado de Pacientes</h1>
		<table>
		    <thead>
		        <tr>
					<th>ID</th>
					<th>Usuario</th>
					<th>Nombre</th>
					<th>DNI</th>
					<th>Fecha Nacimiento</th>
					<th>Código ID</th>
					<th>Contraseña</th> <!-- Nueva columna -->
		        </tr>
		    </thead>
		    <tbody>
				<tr th:each="paciente : ${pacientes}">
					<td th:text="${paciente.id}">1</td>
					<td th:text="${paciente.username}">usuario</td>
					<td th:text="${paciente.nombre}">nombre</td>
					<td th:text="${paciente.dni}">dni</td>
					<td th:text="${paciente.fechaNacimiento}">fecha</td>
					<td th:text="${paciente.codigoIdentificacion}">codigo</td>
					<td th:text="${paciente.password}">password</td> <!-- Muestra contraseña -->
				</tr>
		    </tbody>
		</table>	
	</body>
</html>